Import the Python ODBC library and pandas

In [1]:
import pyodbc
import pandas.io.sql
import pandas as pd
import numpy as np

You will need to set up a connection to your local database server. Just enter your local server and database name.

In [2]:
local_server="TARDIS\\TARDIS"
local_database ="ScholarshipAwardingProcess"
sqlConnection = pyodbc.connect('DRIVER={SQL Server};server=' + local_server + ';database=' + local_database + ';trusted_connection=true')

Verify that the connection is working by pulling the algorithm table.

In [3]:
sql="Select * from Algorithms"
algorithms = pandas.io.sql.read_sql(sql, sqlConnection)
algorithms

,AlgorithmId,AlgorithmName,AlgorithmDescription
0,1,Merit Only,Only use top applicant for scholarship
1,2,Merit Only Disqualify After Exceeding Maximum,Use top but top out a single person
2,3,Merit Only Awarding Can’t Exceed Maximum\r\n,Use top but don't let go over certain amount
3,4,Maximum One Award Per Applicant,Only allow an applicant to have a single schol...
4,5,Split with all qualified applicants\r\n,Split award with all qualified applicants
5,6,Split with minimum qualified applicants\r\n,Split award with applicants up to a certain nu...
6,7,Split with minimum amount given\r\n,Split evenly up to split doesn't bring award a...

In [14]:
new_awarding_group=pandas.io.sql.read_sql("CreateAwardingGroup 'FromPython'", sqlConnection)
new_awarding_group["AwardingGroupId"][0]

7

In [19]:
new_awarding_group_id=new_awarding_group["AwardingGroupId"][0]
pandas.io.sql.read_sql("Select * from awardinggroups", sqlConnection)

   AwardingGroupId        AwardingGroupName
0                1               Paper Demo
1                2  Paper Denormalized Demo
2                7               FromPython

In [7]:
def GetAnalysis (awarding_group_id,maximum_award,minimum_award,max_applicants,run_analysis_first):
    sql="GetAnalysis " + str(awarding_group_id) + ", "  + str(maximum_award) + ", "
    sql =sql  + str(minimum_award) + "," + str(max_applicants) + "," + str(run_analysis_first)
    return pandas.io.sql.read_sql(sql, sqlConnection)

GetAnalysis(1,1500,130,2,1)

,ScholarshipAwardAnalysisId,AwardingGroupId,AlgorithmId,MaximumAward,MinimumAward,MaxApplicants,RA1,RA2,RA3,NumberOfAwarded,UniqueAwardees,MaximumAwarded,MinimumAwarded
0,167,1,5,1500.0,130.0,2,True,True,True,6,3,1375.0,375.0
1,168,1,6,1500.0,130.0,2,True,True,True,6,3,1375.0,375.0
2,169,1,7,1500.0,130.0,2,True,True,True,6,3,1375.0,375.0
3,163,1,1,1500.0,130.0,2,True,True,True,3,1,2750.0,2750.0
4,165,1,3,1500.0,130.0,2,False,True,True,3,3,1000.0,750.0
5,166,1,4,1500.0,130.0,2,False,True,True,3,3,1000.0,750.0
6,164,1,2,1500.0,130.0,2,False,True,False,3,2,2000.0,750.0

In [18]:
def InsertDenormalizedData(awarding_group_id,scholarshipName,scholarshipAmount,applicantName, applicantRank):
    sql="InsertIntoDenormalizedEntry " + str(awarding_group_id) + ","
    sql=sql + "'"+ str(scholarshipName) + "',"
    sql=sql +   str(scholarshipAmount) + ","
    sql=sql + "'" + str(applicantName) + "',"
    sql=sql + str(applicantRank)
    #return sql
    return pandas.io.sql.read_sql(sql, sqlConnection)

InsertDenormalizedData(7,"s1",1000.00,"a2",2)

,DenormalizedEntryId,AwardingGroupId,Scholarship,ScholarshipAward,Applicant,ApplicantRanking
0,15,7,s1,1000.0,a2,2